<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="userDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<!-- 需要一个构造器参数 -->
		<!-- Spring 完成类名到Class对象转换 -->
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.user.User" />
		<!-- 注入SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="staffDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.bc.Staff" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="regionDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.bc.Region" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="subareaDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.bc.Subarea" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="decidedZoneDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.bc.DecidedZone" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="noticeBillDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.qp.NoticeBill" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="workBillDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.qp.WorkBill" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="workOrderManageDAO" class="cn.itcast.bos.dao.impl.GenericDAOImpl">
		<constructor-arg index="0" type="java.lang.Class" value="cn.itcast.bos.domain.qp.WorkOrderManage" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
