<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<bean id="userService" class="cn.itcast.bos.service.user.impl.UserServiceImpl" />
	<bean id="staffService" class="cn.itcast.bos.service.bc.impl.StaffServiceImpl" />
	<bean id="regionService" class="cn.itcast.bos.service.bc.impl.RegionServiceImpl" />
	<bean id="subareaService" class="cn.itcast.bos.service.bc.impl.SubareaServiceImpl" />
	<bean id="decidedZoneService" class="cn.itcast.bos.service.bc.impl.DecidedZoneServiceImpl" />
	<bean id="noticeBillService" class="cn.itcast.bos.service.qp.impl.NoticeBillServiceImpl" />
	<bean id="workOrderManageService" class="cn.itcast.bos.service.qp.impl.WorkOrderManageServiceImpl" />
	
</beans>
